In [1]:
import pandas as pd
import matplotlib

In [2]:
colunas = ['NU_ANO', 'CO_CURSO', 'NT_GER']
df_nota = pd.read_csv('microdados_Enade_2021_LGPD\dados\microdados2021_arq3.txt',sep = ';',usecols = colunas )
df_curso = pd.read_csv('microdados_Enade_2021_LGPD\dados\microdados2021_arq1.txt', sep = ';')

In [3]:
## colocando valor 0 onde a nota for nula
df_nota = df_nota.fillna(0)

In [6]:
#como so precisamos relacionar cada CO_CURSO com suas respectivas caracteristicas, podemos remover as linhas duplicadas.
df_curso = df_curso.drop_duplicates()

In [7]:
# queremos somente as licenciaturas
co_grupo = [702, 904, 905, 906, 1402, 1502, 1602, 2001, 2402, 2501, 3002, 3202, 3502, 4301, 5402, 6407]
df_curso = df_curso[df_curso['CO_GRUPO'].isin(co_grupo)]

In [8]:
df_nota

        NU_ANO  CO_CURSO  NT_GER
0         2021     14346     0.0
1         2021     63045     0.0
2         2021     45498     0.0
3         2021     18312     0.0
4         2021     14349     0.0
...        ...       ...     ...
489861    2021     70985     0.0
489862    2021     70985     0.0
489863    2021     70985     0.0
489864    2021     70985     0.0
489865    2021     70985     0.0

[489866 rows x 3 columns]

In [9]:
#fizemos um inner join, somente mostrando os dados onde o CO_CURSO se encontra nos dois dataframes
df_merged = df_nota.merge(df_curso, on = 'CO_CURSO')

In [10]:
df_merged.drop('NU_ANO_y', axis = 1, inplace = True)

In [11]:
mapeamento_estados = {
    11 : 'Rondônia (RO)',
    12 : 'Acre (AC)',
    13 : 'Amazonas (AM)',
    14 : 'Roraima (RR)',
    15 : 'Pará (PA)',
    16 : 'Amapa (AP)',
    17 : 'Tocantins (TO)',
    21 : 'Maranhão (MA)',
    22 : 'Piauí (PI)',
    23 : 'Ceará (CE)',
    24 : 'Rio Grande do Norte (RN)',
    25 : 'Paraíba (PB)',
    26 : 'Pernambuco (PE)',
    27 : 'Alagoas (AL)',
    28 : 'Sergipe (SE)',
    29 : 'Bahia (BA)',
    31 : 'Minas gerais (MG)',
    32 : 'Espírito Santo (ES)',
    33 : 'Rio de Janeiro (RJ)',
    35 : 'São Paulo (SP)',
    41 : 'Paraná (PR)',
    42 : 'Santa Catarina (SC)',
    43 : 'Rio Grande do Sul (RS)',
    50 : 'Mato Grosso do Sul (MS)',
    51 : 'Mato Grosso (MT)',
    52 : 'Goiás (GO)',
    53 : 'Distrito federal (DF)'
}


df_merged['CO_UF_CURSO'] = df_merged['CO_UF_CURSO'].map(mapeamento_estados)

In [12]:
df_mais_75 = df_merged.loc[df_merged['NT_GER'] > 75.0]

In [13]:
porcentagem_brasil = round((df_mais_75.shape[0] / df_merged.shape[0]) * 100, 4)

In [14]:
print(f"Porcentagem de quem tirou mais que 75 brasil todo é de {porcentagem_brasil}%")

Porcentagem de quem tirou mais que 75 brasil todo é de 0.5718%

In [15]:
total_por_estado = df_merged['CO_UF_CURSO'].value_counts()

In [16]:
total_mais_75 = df_mais_75['CO_UF_CURSO'].value_counts()

In [17]:
total_mais_75

São Paulo (SP)              576
Rio de Janeiro (RJ)         302
Minas gerais (MG)           275
Paraná (PR)                 252
Rio Grande do Sul (RS)      121
Santa Catarina (SC)          85
Distrito federal (DF)        75
Bahia (BA)                   63
Ceará (CE)                   52
Pernambuco (PE)              48
Rio Grande do Norte (RN)     31
Goiás (GO)                   31
Espírito Santo (ES)          30
Mato Grosso do Sul (MS)      26
Piauí (PI)                   20
Paraíba (PB)                 20
Maranhão (MA)                17
Amazonas (AM)                13
Alagoas (AL)                 12
Sergipe (SE)                 10
Mato Grosso (MT)              4
Tocantins (TO)                2
Acre (AC)                     2
Pará (PA)                     1
Amapa (AP)                    1
Roraima (RR)                  1
Name: CO_UF_CURSO, dtype: int64

In [18]:
total_por_estado

São Paulo (SP)              95696
Minas gerais (MG)           49136
Paraná (PR)                 42046
Rio de Janeiro (RJ)         40224
Santa Catarina (SC)         18627
Ceará (CE)                  14028
Mato Grosso do Sul (MS)     13502
Bahia (BA)                   9647
Rio Grande do Sul (RS)       9046
Pernambuco (PE)              8593
Maranhão (MA)                7942
Goiás (GO)                   6777
Pará (PA)                    6353
Distrito federal (DF)        5864
Piauí (PI)                   5570
Alagoas (AL)                 4704
Paraíba (PB)                 4196
Amazonas (AM)                3766
Rio Grande do Norte (RN)     3021
Espírito Santo (ES)          2946
Mato Grosso (MT)             2882
Sergipe (SE)                 2607
Tocantins (TO)               1181
Amapa (AP)                   1066
Rondônia (RO)                1041
Acre (AC)                     977
Roraima (RR)                  591
Name: CO_UF_CURSO, dtype: int64

In [19]:
porcentagem_estado = (total_mais_75 / total_por_estado) * 100

In [20]:
porcentagem_estado

Acre (AC)                   0.204708
Alagoas (AL)                0.255102
Amapa (AP)                  0.093809
Amazonas (AM)               0.345194
Bahia (BA)                  0.653053
Ceará (CE)                  0.370687
Distrito federal (DF)       1.278990
Espírito Santo (ES)         1.018330
Goiás (GO)                  0.457430
Maranhão (MA)               0.214052
Mato Grosso (MT)            0.138793
Mato Grosso do Sul (MS)     0.192564
Minas gerais (MG)           0.559671
Paraná (PR)                 0.599344
Paraíba (PB)                0.476644
Pará (PA)                   0.015741
Pernambuco (PE)             0.558594
Piauí (PI)                  0.359066
Rio Grande do Norte (RN)    1.026150
Rio Grande do Sul (RS)      1.337608
Rio de Janeiro (RJ)         0.750796
Rondônia (RO)                    NaN
Roraima (RR)                0.169205
Santa Catarina (SC)         0.456327
Sergipe (SE)                0.383583
São Paulo (SP)              0.601906
Tocantins (TO)              0.169348
Name: CO_UF_CURSO, dtype: float64

In [21]:
print(f"Porcentagem de quem tirou mais que 75 brasil todo é de {porcentagem_brasil}%")

Porcentagem de quem tirou mais que 75 brasil todo é de 0.5718%

## Organizar e criar o código para ler as bases dos dois últimos enades que avaliaram os cursos de interesse (bases de 2017 e 2014).

In [22]:
colunas = ['CO_CURSO', 'CO_GRUPO', 'CO_CATEGAD', 'CO_UF_CURSO', 'ID_LICENCIATURAS']
df_curso_2014 = pd.read_csv('microdados_Enade_2014_LGPD\dados\microdados2014_arq1.txt', sep = ';')
df_curso_2017 = pd.read_csv('microdados_Enade_2017_LGPD\dados\microdados2017_arq1.txt', sep = ';')

C:\Users\cardo\AppData\Local\Temp\ipykernel_68924\3526205474.py:2: DtypeWarning: Columns (1,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_curso_2014 = pd.read_csv('microdados_Enade_2014_LGPD\dados\microdados2014_arq1.txt', sep = ';')

In [23]:
df_curso_2017.columns

Index(['NU_ANO', 'CO_CURSO', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO',
       'CO_MODALIDADE', 'CO_MUNIC_CURSO', 'CO_UF_CURSO', 'CO_REGIAO_CURSO'],
      dtype='object')

In [24]:
# Recorte dos cursos de interesse

# Como so precisamos relacionar cada CO_CURSO com suas respectivas caracteristicas, podemos remover as linhas duplicadas.
df_curso_2014 = df_curso_2014.drop_duplicates()
df_curso_2017 = df_curso_2017.drop_duplicates()

# Variáveis de interesse

# CO_MODALIDADE / 0 : EAD , 1 : Presencial

# CO_UF_CURSO / Uf do curso

# CO_GRUPO / Código do grupo
# Grupos de interesse:

# Licenciaturas

# 702 : "Matemática (Licenciatura)",
# 904 : "Letras-Português (Licenciatura)",
# 905 : "Letras-Português e Inglês (Licenciatura)",
# 906 : "Letras-Português e Espanhol (Licenciatura)",
# 1402 : "Física (Licenciatura)",
# 1502 : "Química (Licenciatura)",
# 1602 : "Ciências Biológicas (Licenciatura)",
# 2001 : "Pedagogia (Licenciatura)",
# 2402 : "História (Licenciatura)",
# 2501 : "Artes Visuais (Licenciatura)",
# 3002 : "Geografia (Licenciatura)",
# 3202 : "Filosofia (Licenciatura)",
# 3502 : "Educação Física (Licenciatura)",
# 4301 : "Música (Licenciatura)",
# 5402 : "Ciências Sociais (Licenciatura)",
# 6407 : "Letras-Inglês (Licenciatura)"   NAO TEM NA BASE DE 2014 MAS TEM NA 2017

# Bacharelados

#1501 : Química (Bacharelado)
#1601 : Ciências Biológicas (Bacharelado)
#2401 : História (Bacharelado)
#3001 : Geografia (Bacharelado)
#3201 : Filosofia (Bacharelado)
#3501 : Educação Física (Bacharelado)  NAO TEM ESSE NA BASE DE 2017 E NEM NA DE 2014
#5401 : Ciências Sociais (Bacharelado)



#O CURSO 6407 (LETRAS-INGLES LICENCIATURA) NAO TEM NA BASE DE 2014, POREM TEM NA DE 2017
# O CURSO 3501 (EDUCACAO FISICA BACHARELADO) NAO TEM NA BASE DE 2014 E NEM NA DE 2017

co_grupo_licenciaturas = [702, 904, 905, 906, 1402, 1502, 1602, 2001, 2402, 2501, 3002, 3202, 3502, 4301, 5402, 6407]
co_grupo_bacharelados = [1501, 1601, 2401, 3001, 3201, 3501, 5401]

# Identificando licenciaturas
df_curso_2014_especificos = df_curso_2014.copy()
df_curso_2017_especificos = df_curso_2017.copy()



df_curso_2014_especificos['ID_LICENCIATURAS'] = 0
df_curso_2014_especificos.loc[df_curso_2014_especificos['CO_GRUPO'].isin(co_grupo_licenciaturas), 'ID_LICENCIATURAS'] = 1

df_curso_2017_especificos['ID_LICENCIATURAS'] = 0
df_curso_2017_especificos.loc[df_curso_2017_especificos['CO_GRUPO'].isin(co_grupo_licenciaturas), 'ID_LICENCIATURAS'] = 1

# Matendo apenas colunas de interesse

df_curso_2014_especificos = df_curso_2014_especificos[['CO_CURSO', 'CO_GRUPO', 'CO_CATEGAD', 'CO_UF_CURSO', 'ID_LICENCIATURAS']]

df_curso_2017_especificos = df_curso_2017_especificos[['CO_CURSO', 'CO_GRUPO', 'CO_CATEGAD', 'CO_UF_CURSO', 'ID_LICENCIATURAS']]

# Matendo apenas cursos de interesse

df_curso_2014_especificos = df_curso_2014_especificos.loc[((df_curso_2014_especificos['CO_GRUPO'].isin(co_grupo_licenciaturas)) | (df_curso_2014_especificos['CO_GRUPO'].isin(co_grupo_bacharelados)))]

df_curso_2017_especificos = df_curso_2017_especificos.loc[((df_curso_2017_especificos['CO_GRUPO'].isin(co_grupo_licenciaturas)) | (df_curso_2017_especificos['CO_GRUPO'].isin(co_grupo_bacharelados)))]

In [25]:
df_curso_2014_especificos

       CO_CURSO  CO_GRUPO  CO_CATEGAD  CO_UF_CURSO  ID_LICENCIATURAS
87      1000030       702           4           11                 1
188      100010      3502           4           51                 1
275       10002      2001           5           33                 1
301      100021      4301           1           23                 1
319      100024      4301           1           12                 1
...         ...       ...         ...          ...               ...
478156    99940      2402           4           42                 1
479343    99950      3002           4           42                 1
479943    99952       702           4           42                 1
480882    99968       904           4           42                 1
481695      DJ1       904           4           41                 1

[5973 rows x 5 columns]